@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: -18 10% 96.95%;

    --muted: -18 50% 11.700000000000001%;
    --muted-foreground: -18 10% 53.9%;

    --popover: -18 45% 5.07%;
    --popover-foreground: -18 10% 96.95%;

    --card: -18 45% 5.07%;
    --card-foreground: -18 10% 96.95%;

    --border: -18 50% 11.700000000000001%;
    --input: -18 50% 11.700000000000001%;

    --primary: -18 100% 39%;
    --primary-foreground: -18 10% 96.95%;

    --secondary: -18 50% 11.700000000000001%;
    --secondary-foreground: -18 10% 96.95%;

    --accent: -18 50% 11.700000000000001%;
    --accent-foreground: -18 10% 96.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -18 10% 96.95%;

    --ring: -18 100% 39%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
